{% extends "base.html" %}

{% block content %}

<h1>Projects</h1>

<table border="1">

    <tr>
        <th>Project</th>
        <th>Client</th>
        <th>Manager</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for project in projects %}

    <tr>

        <td>{{ project.project_name }}</td>

        <td>{{ project.client_name }}</td>

        <td>
            {{ project.project_manager.name }}
        </td>

        <td>{{ project.status }}</td>

        <td>
            <a href="{% url 'project_detail' project.id %}">
                View
            </a>
        </td>

    </tr>

    {% empty %}

    <tr>
        <td colspan="5">
            No projects found.
        </td>
    </tr>

    {% endfor %}

</table>

{% endblock %}